.mt30 {
  margin-top: 4vw;
}
.tc {
  text-align: center;
}
.upload_box {
  background-color: #3b4375;
  padding: 4vw 3.73333vw;
}
.upload_title {
  color: #aac2dd;
  position: relative;
}
.upload_title:before {
  position: absolute;
  content: '';
  display: inline-block;
  background: url("../images/zs_left.png");
  background-size: 100%;
  width: 8.66667vw;
  height: 1.2vw;
  left: -12vw;
  top: 2vw;
}
.upload_title:after {
  position: absolute;
  content: '';
  display: inline-block;
  background: url("../images/zs_right.png");
  background-size: 100%;
  width: 8.66667vw;
  height: 1.2vw;
  right: -12vw;
  top: 2vw;
}
.nameVerify .reset_cells {
  margin: 3.73333vw;
  background-color: #3b4375;
  border-radius: 1.06667vw;
}
.nameVerify .reset_cells:before {
  display: none;
}
.nameVerify .reset_cells:after {
  display: none;
}
.nameVerify .reset_cells .weui-label {
  color: #aac2dd;
}
.nameVerify .reset_cells input::-webkit-input-placeholder {
  color: #7389ac;
}
.nameVerify .reset_cells input {
  color: #aac2dd;
}
.nameVerify .reset_cells .weui-input {
  height: 6.66667vw;
}
.nameVerify .reset_cells .weui-cell {
  padding: 2.66667vw 4vw;
}
.nameVerify .weui-flex {
  -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
          justify-content: space-between;
  margin-top: 5.33333vw;
}
.nameVerify .weui-flex .weui-flex__item {
  -webkit-box-flex: 0;
          -webkit-flex: 0;
          flex: 0;
}
.nameVerify .sfz_box {
  width: 44.8vw;
}
.nameVerify .uploader__input-box {
  position: relative;
  border-radius: 1.33333vw 1.33333vw 0 0;
}
.nameVerify .uploader__input-box img {
  width: 44.8vw;
  height: 30.66667vw;
}
.upload_btn {
  background-color: #3fc0fa;
  color: #2d3563;
  display: inline-block;
  height: 9.2vw;
  line-height: 9.2vw;
  width: 100%;
  border-bottom-left-radius: 1.33333vw;
  border-bottom-right-radius: 1.33333vw;
}
.mr30 {
  margin-right: 4vw;
}
.sh_top {
  padding: 6.66667vw 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          flex-direction: column;
}
.sh_top img {
  width: 18.13333vw;
  height: 13.86667vw;
}
.mt20 {
  margin-top: 2.66667vw;
}
.mt10 {
  margin-top: 1.33333vw;
}
.page .df_col {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
}
.page .df_con {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
}
.page .col_0 {
  color: #fff;
}
.page .col_33 {
  color: #33d1ff;
}
.page .col_9 {
  color: #96adcb;
}
.page .page-bd .top_hd .hd_txt {
  background: url('../images/bgc_img.png') no-repeat;
  background-size: 100%;
  padding: 1.86667vw;
  width: 42.13333vw;
  height: 8.53333vw;
}
.page .page-bd .bottom_ft {
  width: 100%;
  padding: 0 4vw;
}
.page .page-bd .bottom_ft .wenben .ex {
  padding-bottom: 2.66667vw !important;
}
.page .page-bd .bottom_ft .wenben > p {
  padding-bottom: 5.06667vw;
}
.page .bottom_ft {
  background-color: #2d3464;
}
.page .top_hd {
  background: url('../images/what_img.png') no-repeat;
  background-size: 100% 100%;
}
.fs18 {
  font-size: 2.4vw;
}
.zhuce .see {
  margin-top: 1.33333vw;
  color: #6b81a7;
}
.zhuce .see a {
  color: #20c3fe;
}
.forgetPwd .yanzheng {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
  border-bottom: 1px solid #f5f5f5;
}
.forgetPwd .yanzheng .getCode,
.forgetPwd .yanzheng .time {
  color: #20c3fe;
}
.login {
  background-color: #2d3464;
}
.login .page-hd {
  background-color: transparent;
}
.login .logoimg {
  margin: 13.33333vw 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
}
.login .logoimg img {
  width: 18.66667vw;
  height: 18.66667vw;
}
.login input::-webkit-input-placeholder {
  color: #c2c2c8;
}
.login input {
  height: 12vw;
  line-height: 12vw;
  border: none;
  outline: none;
  margin-top: 1.86667vw;
}
.login .form_box {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
  width: 90.4vw;
  margin: 0 4.8vw;
  padding: 4.8vw;
  background-color: #ffffff;
  border-radius: 1.33333vw;
}
.login .form_box .tou {
  font-size: 5.86667vw;
  color: #3a467c;
}
.login .form_box .tel,
.login .form_box .pwd,
.login .form_box .pwd1,
.login .form_box .pwd2 {
  border-bottom: 1px solid #f5f5f5;
}
.login .form_box .rember {
  font-size: 3.2vw;
  color: #23bafd;
  text-align: right;
  margin-top: 3.73333vw;
}
.login .form_box .loading_btn {
  height: 12vw;
  width: 100%;
  margin-top: 6.66667vw;
  background-image: -webkit-linear-gradient(bottom, #37c0fd 0%, #56dfff 100%);
  background-image: linear-gradient(0deg, #37c0fd 0%, #56dfff 100%);
  border-radius: 1.33333vw;
}
.login .zhuce {
  width: 80.8vw;
  height: 10.4vw;
  border-radius: 1.33333vw;
  border: solid 1px #859dbd;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
  margin: 6.66667vw 9.6vw 4vw;
}
.zero {
  padding: 0 4.53333vw;
}
.zero .top_hd .hd_title {
  width: 80vw;
  margin-top: 22.66667vw;
  margin-bottom: 46.13333vw;
}
.zero .top_hd .hd_zhu {
  color: #c6c9e5;
  line-height: 4.53333vw;
  padding: 5.6vw 4vw;
}
.zero .bottom_ft {
  width: 100%;
  padding: 0 4vw;
}
.zero .bottom_ft .liucheng {
  height: 16vw;
  margin-top: 3.46667vw;
}
.zero .bottom_ft .four_txt {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
          justify-content: space-around;
}
.zero .bottom_ft .four_txt > div {
  padding: 1.6vw;
  margin: 4vw 2.66667vw 6.66667vw 0;
  background-color: #1f2751;
  border-radius: 1.33333vw;
  text-align: center;
  vertical-align: middle;
}
.zero .bottom_ft .four_txt div:last-child {
  margin-right: 0;
}
.zero .bottom_ft .wenben > p {
  padding-bottom: 5.06667vw;
  line-height: 5.33333vw;
}
.danbao .hd_title {
  height: 13.33333vw;
  margin-top: 16vw;
  margin-bottom: 53.33333vw;
}
.danbao .hd_txt {
  margin-bottom: 11.73333vw;
}
.danbao .last_p {
  text-align: center;
  vertical-align: middle;
  color: #fe361d;
}
.danbao p {
  line-height: 5.33333vw;
}
.jieqian .hd_title {
  width: 100vw;
  height: 23.73333vw;
  margin-top: 16vw;
  margin-bottom: 53.33333vw;
}
.jieqian .hd_txt {
  margin-bottom: 11.73333vw;
}
.jieqian p {
  line-height: 5.33333vw;
}
.ruhe .hd_title {
  height: 13.33333vw;
  margin-top: 21.33333vw;
  margin-bottom: 53.33333vw;
}
.ruhe .hd_txt {
  margin-bottom: 11.73333vw;
}
.ruhe p {
  line-height: 5.33333vw;
}
.lianxi {
  background-color: #1f2751;
}
.lianxi .box_t {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
}
.lianxi .box_t p {
  color: #a0a4b5;
}
.lianxi .box_t p:first-child {
  padding: 8vw 0 2.66667vw;
}
.message .box_t {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
}
.message .mess_img {
  width: 28.53333vw;
  height: 25.6vw;
  margin-top: 36.53333vw;
  margin-bottom: 7.73333vw;
}
.message .heng {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  color: #a0a4b5;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
}
.message .heng .wen {
  padding: 0 2.4vw;
}
.message .listBox {
  margin-top: 2.66667vw;
}
.message .listBox .list {
  background-color: #343c6d;
  margin-bottom: 2.66667vw;
}
.message .listBox .list .cell {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  padding: 4vw 4vw;
  -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-align-content: center;
          align-content: center;
}
.message .listBox .list .details {
  padding: 0 4vw;
  line-height: 5.33333vw;
  padding-bottom: 4vw;
  display: none;
}
div,
a,
p,
span,
li,
input,
em,
img {
  box-sizing: border-box;
}
.color_w {
  color: #fff;
}
.color_8 {
  color: #829ab9;
}
.color_a {
  color: #aac2dd;
}
.weui-toast--text {
  font-size: 3.46667vw;
  padding: 2.66667vw 4vw;
}
input::-webkit-input-placeholder {
  color: #7389ac;
}
button {
  border: none;
  border-radius: 0;
  background-color: transparent;
  font-family: inherit;
}
.button_btn {
  width: 92.53333vw;
  height: 10.93333vw;
  background-image: -webkit-linear-gradient(bottom, #37c0fd 0%, #56dfff 100%);
  background-image: linear-gradient(0deg, #37c0fd 0%, #56dfff 100%);
  border-radius: 1.33333vw;
  margin: 8vw 3.73333vw 2.66667vw;
}
.weui-cell:before {
  border-top: 1px solid#49507c;
  /*no*/
}
img {
  display: block;
}
.index .header {
  padding: 0 4vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
          justify-content: space-between;
}
.index .header a {
  width: 5.6vw;
  height: 5.6vw;
}
.index .header img {
  width: 100%;
  height: 100%;
}
.index .swiperBox {
  width: 92.8vw;
  height: 46.13333vw;
  margin: 3.46667vw auto 0;
}
.index .swiperBox img {
  width: 100%;
  height: 100%;
  border-radius: 1.6vw;
}
.index .swiper-pagination-bullet {
  background-color: #fff;
  width: 1.6vw;
  height: 1.6vw;
}
.index .swiper-pagination-bullet-active {
  background-color: #fff;
}
.index .log {
  width: 92.8vw;
  height: 19.2vw;
  background-color: #434c85;
  border-radius: 1.33333vw;
  margin: 4.8vw auto 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
}
.index .log .sign {
  background-image: url('../images/index03.png');
  width: 24.26667vw;
  height: 8.53333vw;
  margin-top: -1.33333vw;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
}
.index .log .data {
  width: 100%;
  padding: 0 4vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
          justify-content: space-between;
  margin-top: 3.2vw;
}
.index .log .data div {
  color: #869cba;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.index .log .data div p {
  margin-left: 0.8vw;
}
.index .log .data p {
  color: #e8f3fc;
}
.index .log .data a {
  color: #32d1ff;
}
.index .rowBox {
  width: 92.8vw;
  margin: 4.53333vw auto 0;
}
.index .rowBox .title {
  color: #c5d5ee;
  margin-bottom: 2.66667vw;
}
.index .rowBox a {
  background-color: #fff;
  border-radius: 1.86667vw;
  width: 100%;
  height: 21.86667vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
  margin-bottom: 7.46667vw;
}
.index .rowBox a .left {
  width: 36.26667vw;
  height: 100%;
  border-radius: 1.86667vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
}
.index .rowBox a .left.one {
  background-image: -webkit-linear-gradient(left, #59e9ff 0%, #37c1fd 100%);
  background-image: linear-gradient(90deg, #59e9ff 0%, #37c1fd 100%);
}
.index .rowBox a .left.two {
  background-image: -webkit-linear-gradient(left, #ffe381 0%, #ff9659 100%);
  background-image: linear-gradient(90deg, #ffe381 0%, #ff9659 100%);
}
.index .rowBox a .left.there {
  background-image: -webkit-linear-gradient(left, #b9ccfe 0%, #7d93e8 100%);
  background-image: linear-gradient(90deg, #b9ccfe 0%, #7d93e8 100%);
}
.index .rowBox a .left.four {
  background-image: -webkit-linear-gradient(left, #ffc39b 0%, #ff7c5e 100%);
  background-image: linear-gradient(90deg, #ffc39b 0%, #ff7c5e 100%);
}
.index .rowBox a .right {
  padding: 0 2.93333vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
}
.index .rowBox a .right p {
  color: #26336f;
}
.index .rowBox a .right span {
  color: #7995bb;
  margin-top: 1.06667vw;
  line-height: 4vw;
}
.index .columnBox {
  width: 92.8vw;
  margin: 0 auto;
}
.index .columnBox .title {
  margin-bottom: 2.66667vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
}
.index .columnBox .title p {
  color: #c5d5ee;
  margin-right: 4vw;
}
.index .columnBox .title div {
  color: #7a90b2;
}
.index .columnBox .list {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
          justify-content: space-between;
  width: 100%;
}
.index .columnBox a {
  width: 44.53333vw;
  background-color: #ffffff;
  border-radius: 1.86667vw;
  display: block;
  margin-bottom: 4vw;
}
.index .columnBox a img {
  width: 44.53333vw;
  height: 33.6vw;
  border-radius: 1.86667vw 1.86667vw 0 0;
  display: block;
}
.index .columnBox a P {
  height: 9.86667vw;
  width: 100%;
  padding: 0 1.33333vw;
  text-align: center;
  line-height: 9.86667vw;
  color: #26336f;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.wallet .header {
  padding: 0 4vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
}
.wallet .block {
  width: 90.4vw;
  background-color: #343c6d;
  border-radius: 1.06667vw;
  margin: 4vw auto 0;
  padding: 4vw;
}
.wallet .block .name {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
}
.wallet .block .name p {
  color: #95adc8;
}
.wallet .block .name a {
  color: #3ed7ff;
}
.wallet .block .money {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: baseline;
          -webkit-align-items: baseline;
          align-items: baseline;
  margin: 2.93333vw 0 1.6vw;
}
.wallet .block .money span {
  color: #95adc8;
  margin-right: 0.8vw;
}
.wallet .block .money p {
  font-size: 6.93333vw;
}
.wallet .block .info {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: end;
          -webkit-align-items: flex-end;
          align-items: flex-end;
}
.wallet .block .info div p {
  margin-top: 1.33333vw;
  color: #95adc8;
}
.wallet .block .info div p span {
  color: #3ed7ff;
}
.wallet .block .info button {
  width: 13.33333vw;
  height: 6.4vw;
  background-color: #3dcbfe;
  border-radius: 1.06667vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
}
.my .userInfo {
  width: 100%;
  height: 29.33333vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
  padding: 0 5.33333vw;
  background-color: #343c6d;
}
.my .userInfo img {
  width: 13.86667vw;
  height: 13.86667vw;
  border-radius: 50%;
}
.my .userInfo div {
  margin-left: 2.66667vw;
}
.my .userInfo div p {
  color: #95adc8;
  margin-bottom: 2.13333vw;
}
.my .userInfo div span {
  color: #95adc8;
}
.my .weui-cells::before,
.my .weui-cells::after {
  display: none;
}
.my .weui-cells {
  background-color: #343c6d;
}
.my .weui-cells .weui-cell__bd {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
}
.my .weui-cells .weui-cell__bd img {
  width: 5.06667vw;
  height: 4.53333vw;
  margin-right: 2.66667vw;
}
.my .weui-cells .weui-cell__bd span {
  color: #aac2dd;
}
.my .weui-cells .weui-cell__ft {
  color: #95adc8;
  font-size: 3.73333vw;
}
.collection .inputBox {
  width: 92.53333vw;
  height: 10.93333vw;
  background-color: #3b4375;
  border-radius: 1.06667vw;
  padding: 0 3.46667vw;
  margin: 3.2vw auto 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
}
.collection .inputBox span {
  width: 18.13333vw;
  color: #aac2dd;
}
.collection .inputBox input {
  -webkit-box-flex: 1;
          -webkit-flex: 1;
          flex: 1;
  height: 6.66667vw;
}
.collection .title {
  height: 12.8vw;
  margin: 0 3.73333vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
  color: #c5d5ee;
}
.collection .uploader__input-box {
  width: 92vw;
  height: 56.53333vw;
  background-color: #3b4375;
  border-radius: 1.33333vw;
  margin: 0 4vw;
  position: relative;
}
.collection .uploader__input-box input {
  opacity: 0;
}
.collection .uploader__input-box img {
  width: 100%;
  height: 100%;
}
.collection .codeBox span {
  color: #3ed7ff;
}
.walletLog .weui-cells {
  background-color: #343c6d;
}
.walletLog .weui-cells .weui-cell {
  padding: 2.66667vw 4vw;
}
.walletLog .weui-cells p {
  color: #95adc8;
}
.walletLog .weui-cells span {
  color: #65779f;
}
.walletLog .weui-cells .weui-cell__ft {
  color: #33b291;
}
.walletLog .weui-cells::before,
.walletLog .weui-cells::after {
  display: none;
}
.collectionMen .block {
  width: 92.26667vw;
  height: 25.33333vw;
  background-color: #343c6d;
  margin: 4vw auto 0;
}
.collectionMen .block .info {
  height: 16.26667vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
  padding: 0 3.2vw;
}
.collectionMen .block p {
  color: #95adc8;
}
.collectionMen .block .btnBox {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  background-color: #3b4375;
  padding: 0 3.2vw;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
          justify-content: space-between;
  height: 9.06667vw;
}
.collectionMen .block .btnBox span {
  color: #36d1ff;
}
.collectionMen .block .btnBox a {
  width: 19.46667vw;
  height: 6.13333vw;
  background-color: #35bffd;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
}
.collectionMen .block .btnBox .check_end {
  background-color: #9c9c9c;
}
.collectionInfo .page-bd {
  width: 100vw;
  padding: 0 3.73333vw;
}
.collectionInfo .page-bd .title {
  height: 10.13333vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
  width: 100%;
  color: #c5d5ee;
}
.collectionInfo .page-bd .meninfo {
  width: 100%;
  height: 19.2vw;
  background-color: #434f80;
  padding: 3.46667vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
          justify-content: space-between;
}
.collectionInfo .page-bd .meninfo p {
  color: #8299b8;
}
.collectionInfo .page-bd .codeInfo {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
  background-color: #3b4375;
  border-radius: 1.33333vw;
  padding: 4vw 0;
  margin-top: 3.2vw;
}
.collectionInfo .page-bd .codeInfo img {
  width: 50%;
  height: 50%;
}
.collectionInfo .page-bd .codeInfo .name {
  margin: 2.66667vw 0 0.53333vw;
}
.collectionInfo .page-bd .codeInfo p {
  color: #95adc8;
  margin-top: 0.8vw;
}
.collectionInfo .page-bd .codeInfo span {
  color: #35bffd;
}
.collectionInfo .page-bd .tipsBox {
  padding: 3.46667vw;
  width: 100%;
  text-align: center;
}
.collectionInfo .page-bd .tipsBox p {
  color: #95adc8;
  margin-bottom: 0.8vw;
}
.collectionInfo .page-bd .tipsBox span {
  color: #f0ee07;
}
.collectionInfo .page-bd .uploader__input-box {
  width: 100%;
  height: 55.2vw;
  background-color: #3b4375;
  border-radius: 1.33333vw;
  position: relative;
}
.collectionInfo .page-bd .uploader__input-box input {
  opacity: 0;
}
.collectionInfo .page-bd .uploader__input-box img {
  width: 100%;
  height: 100%;
}
.collectionInfo .page-bd .button_btn {
  margin: 6.66667vw 0;
}
.friend .block {
  width: 92.53333vw;
  height: 81.33333vw;
  margin: 5.06667vw auto;
  background-color: #3b4375;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
  padding: 10.13333vw 4.8vw 8.53333vw;
}
.friend .block img {
  background-color: #fff;
  width: 33.06667vw;
  height: 33.06667vw;
}
.friend .block p span {
  color: #34cdff;
  font-size: 4.8vw;
}
.friend .block .btncCell {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
          justify-content: space-between;
}
.friend .block .btncCell button {
  width: 34.93333vw;
  height: 10.13333vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
  background-color: #7489ac;
  border-radius: 1.33333vw;
}
.friend .block .btncCell button:nth-child(1) {
  background-image: -webkit-linear-gradient(bottom, #37c0fd 0%, #56dfff 100%);
  background-image: linear-gradient(0deg, #37c0fd 0%, #56dfff 100%);
}
.friend .tips {
  width: 100%;
  padding: 0 3.73333vw;
  line-height: 6.4vw;
}
.friend .weui-cells {
  margin-top: 0;
  background-color: #3b4677;
}
.friend .weui-cells::after {
  display: none;
}
.friend .weui-cells::before {
  display: none;
}
.friend .weui-cells .weui-cell {
  padding: 3.46667vw 4vw;
}
.friend .weui-cells .weui-cell__bd {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
}
.friend .weui-cells .weui-cell:before {
  border-top: 1px solid#2d3464;
}
.friend .weui-cells .weui-cell__ft {
  font-size: 2.93333vw;
}
.friend .weui-cells img {
  width: 7.46667vw;
  height: 7.46667vw;
  margin-right: 1.86667vw;
}
.friend .weui-cells p {
  width: 20vw;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.friend .weui-cells span {
  margin-left: 4vw;
  color: #c3d8f1;
}
.friend .tab {
  margin-top: 2.66667vw;
}
.friend .tab div {
  width: 100%;
  height: 9.6vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
  background-color: #353d6b;
  margin-top: 1px;
}
.friend .tab div span {
  -webkit-box-flex: 1;
          -webkit-flex: 1;
          flex: 1;
  text-align: center;
}
.friend .tab div:nth-child(1) {
  background-color: #3a4275;
}
.upgrade .topimg {
  width: 100%;
  height: 85.33333vw;
}
.upgrade .topimg img {
  width: 100%;
  height: 100%;
}
.upgrade .tips {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
  width: 82.66667vw;
  margin: 0 auto;
  margin-top: -4.26667vw;
}
.upgrade .tips div {
  width: 30.13333vw;
  height: 8.53333vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
  background-image: url('../images/upgrade02.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-bottom: 4.26667vw;
  font-size: 4.8vw;
}
.upgrade .tips p {
  width: 100%;
  color: #c4c8e2;
  margin-bottom: 1.33333vw;
  line-height: 4.8vw;
}
.upgrade .tips p span {
  color: #33ccff;
}
.upgrade .tips_two {
  margin-top: 5.33333vw;
}
.upgrade .tips_two div {
  width: 35.2vw;
}
.upgrade .listBox {
  width: 100%;
  padding: 8vw 8.66667vw 0;
}
.upgrade .list {
  width: 82.66667vw;
  box-shadow: 0.8vw 1.06667vw 2.66667vw 0px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
          justify-content: space-between;
  margin-bottom: 9.33333vw;
}
.upgrade .list .left {
  width: 30.66667vw;
  height: 29.6vw;
  margin: -1.86667vw 0 0 4vw;
  background-image: url('../images/upgrade03.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.upgrade .list .left p {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: baseline;
          -webkit-align-items: baseline;
          align-items: baseline;
  color: #2d3563;
  margin: 5.33333vw 0 0 4.26667vw;
}
.upgrade .list .left p span {
  font-size: 8.53333vw;
}
.upgrade .list .right {
  padding: 2.66667vw 1.86667vw 4vw 0;
}
.upgrade .list .right div span {
  font-size: 6.4vw;
  font-weight: bold;
  margin-right: 0.53333vw;
}
.upgrade .list .right p {
  line-height: 5.6vw;
}
.upgrade .list_one {
  background-color: #5d678a;
}
.upgrade .list_two {
  background-color: #e1a664;
}
.upgrade .list_there {
  background-color: #d16156;
}
.upgrade .page-ft {
  background-color: #222a5b;
}
.upgrade .page-ft .weui-agree {
  padding: 1.33333vw 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
}
.upgrade .page-ft .weui-agree__checkbox {
  width: 4vw;
  height: 4vw;
  border-radius: 0.26667vw;
  margin-right: 1.33333vw;
  top: 0;
}
.upgrade .page-ft .weui-agree__checkbox:checked:before {
  font-size: 4.53333vw;
  color: #222a5b;
}
.upgrade .page-ft .button_btn {
  margin: 2.66667vw 3.73333vw 5.33333vw;
}
.upgradeing .meninfo {
  width: 92.53333vw;
  height: 18.13333vw;
  background-color: #343c6d;
  padding: 3.46667vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
          justify-content: space-between;
  margin: 4vw auto 0;
}
.upgradeing .meninfo p {
  color: #8299b8;
}
.upgradeing .codeInfo {
  width: 92.53333vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
  background-color: #3b4375;
  border-radius: 1.33333vw;
  padding: 4vw 0;
  margin: 3.2vw auto 0;
}
.upgradeing .codeInfo img {
  width: 100%;
  height: 56.53333vw;
}
.upgradeing .selectNav {
  width: 81.6vw;
  height: 8.26667vw;
  border-radius: 1.33333vw;
  border: solid 1px #3dcbfe;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
  margin: 2.66667vw 0;
}
.upgradeing .selectNav span {
  -webkit-box-flex: 1;
          -webkit-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
  border-right: solid 1px #3dcbfe;
  color: #35bffd;
  height: 100%;
}
.upgradeing .selectNav span:nth-child(3) {
  border: none;
}
.upgradeing .selectNav .spanActive {
  background-color: #35bffd;
  font-size: 3.46667vw;
  color: #210913;
}
.upgradeing .tipsBox {
  padding: 3.46667vw;
  width: 100%;
  text-align: center;
}
.upgradeing .tipsBox p {
  color: #95adc8;
}
.upgradeing .tipsBox p span {
  color: #36cfff;
}
.plan .header {
  padding: 0 4vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
}
.plan .selectNav {
  width: 72.26667vw;
  height: 9.06667vw;
  border-radius: 1.33333vw;
  border: solid 0.26667vw #35bffd;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  margin: 3.73333vw auto;
}
.plan .selectNav span {
  -webkit-box-flex: 1;
          -webkit-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
  color: #35bffd;
}
.plan .selectNav .spanActive {
  background-color: #35bffd;
  color: #252d41;
  border-radius: 1.33333vw;
  margin-left: -1px;
  margin-right: -1px;
}
.plan .Box .planType {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
          justify-content: space-between;
  margin: 0 3.73333vw;
}
.plan .Box .planType div {
  width: 21.33333vw;
  height: 19.2vw;
  background-color: #4c5788;
  border-radius: 1.33333vw;
}
.plan .Box .planType div img {
  width: 95%;
  margin: auto;
}
.plan .Box .planType div p {
  color: #fff;
  width: 95%;
  margin: auto;
  height: 12.26667vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
  font-weight: bold;
}
.plan .Box .planType div span {
  color: #c6daea;
  width: 100%;
  text-align: center;
  display: block;
}
.plan .Box .planMoney {
  width: 92.53333vw;
  height: 12vw;
  background-color: #4c5788;
  border-radius: 1.33333vw;
  margin: 3.73333vw auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
  padding: 0 4vw;
}
.plan .Box .planMoney div {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
  color: #35bffd;
}
.plan .Box .planMoney div p {
  color: #879dbb;
}
.plan .Box .planMoney div img {
  width: 5.33333vw;
  height: 4.53333vw;
  margin-left: 1.33333vw;
}
.plan .Box .planMoney a {
  color: #35bffd;
}
.plan .planList {
  width: 92.53333vw;
  margin: 0 auto;
}
.plan .planList .name {
  color: #c5d5ee;
  margin-bottom: 1.33333vw;
}
.plan .planList .list {
  width: 100%;
  height: 13.33333vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
}
.plan .planList .list p {
  color: #c5d5ee;
  margin-right: 1.33333vw;
}
.plan .planList .list span {
  color: #36d1ff;
  margin-left: 1.33333vw;
}
.plan .planList .list .left {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
}
.plan .planList .list .line {
  width: 51.2vw;
  height: 2.66667vw;
  border: 1px solid #fff;
  border-radius: 1.33333vw;
  position: relative;
}
.plan .planList .list .line div {
  position: absolute;
  left: 0;
  top: -1px;
  border-radius: 1.33333vw;
  height: 2.66667vw;
  background-color: #fff;
}
.plan .planList .list a {
  color: #35bffd;
}
.plan .box_t {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
  margin-top: 20vw;
}
.plan .box_t img {
  width: 29.06667vw;
  height: 26.13333vw;
  margin-bottom: 6.66667vw;
}
.plan .box_t p {
  color: #a0a4b5;
}
.plan .box_t .wen {
  margin: 0 1.6vw;
}
.plan .box_t .heng {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
}
.plan .model {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.plan .model .modelContent {
  width: 70vw;
  background-color: #3b4375;
  position: absolute;
  left: 15vw;
  top: 40vh;
}
.plan .model .modelContent .text {
  width: 100%;
  height: 20vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
}
.plan .model .modelContent .cellBtn {
  padding: 0 2.66667vw 4vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
          justify-content: space-between;
}
.plan .model .modelContent .cellBtn button {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
  height: 8vw;
  border-radius: 1.33333vw;
  width: 30vw;
}
.plan .model .modelContent .cellBtn button:nth-child(1) {
  border: solid 1px #35bffd;
  color: #35bffd;
}
.plan .model .modelContent .cellBtn button:nth-child(2) {
  background-color: #35bffd;
  color: #fff;
}
